@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif, poppins;

  background-color: white;

}

.stylish-font{
  font-family:Rancho;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

